{
  "BackupServers": [
    {
      "Host": "backupserver.local",
      "Port": 9419,
      "APIVersion": "1.1-rev0",
      "APIRouteVersion": "v1",
      "APILimit": 100,
      "Username": "apiaccount",
      "Password": "passwordhere"
    }
  ],
  "DesiredStates": {
    "SobrCapacityTier": {
      "EnforceEncryption": false,
      "ImmediateCopyRequired": true,
      "Enabled": true,
      "MoveEnabled": true,
      "MoveAfterDays": 21
    },
    "SobrArchiveTier": {
      "ArchivePeriodDays": 30,
      "CostOptimizedEnabled": true,
      "DedupeEnabled": true,
      "Enabled": true
    },
    "Users": {
      "EnforceMFA": false
    }
  },
  "Monitoring": {
    "CapacityTier": {
      "GbWarningLevel": 10,
      "GbCriticalLevel": 15
    }
  },
  "Alerts": {
    "TeamsEnabled": true,
    "TeamsAlwaysNotifyStatus": true, //if enabled and all items are OK, it will still alert to your webhook
    "TeamsWebHookUri": "",
    "xMattersEnabled": true,
    "xMattersTriggerUrl": "",
    "xMattersHostname": "",
    "xMattersTriggerUsername": "",
    "xMattersTriggerPassword": "",
    "xMattersRecipient": "",
    "SantaOpsHostname": "",
    "SantaOpsEndpoint": ""
  }
}
