{
  "BackupServers": [
    {
      "Host": "backupserver.local",
      "Port": 9419,
      "APIVersion": "1.1-rev0",
      "APIRouteVersion": "v1",
      "APILimit": 100,
      "Username": "apiaccount",
      "Password": "passwordhere"
    }
  ],
  "DesiredStates": {
    "SobrPerformanceTier": {
      "PerVmBackup": true
    },
    "SobrPlacementPolicy": {
      "PlacementType": "Performance"
    },
    "SobrCapacityTier": {
      "EnforceEncryption": false,
      "ImmediateCopyRequired": true,
      "Enabled": true,
      "MoveEnabled": true,
      "MoveAfterDays": 21
    },
    "SobrArchiveTier": {
      "ArchivePeriodDays": 30,
      "CostOptimizedEnabled": true,
      "DedupeEnabled": true,
      "Enabled": true
    },
    "GeneralOptions": {
      "EmailIsEnabled": true,
      "EmailTo": "bkp.reports@lan.local",
      "EmailFrom": "veeam@lan.local",
      "EmailSmtpServer": "smtp.lan.local",
      "EmailAdvPort": 25,
      "EmailSSLEnabled": true,
      "NotifyOnSuccess": false,
      "NotifyOnWarning": false,
      "NotifyOnFailure": true,
      "NotifyOnUpdates": false,
      "NotifyOnSupportExpiration": true,
      "ServerTimeZone": "(UTC+12:00) Auckland, Wellington"
    },
    "JobConfig": {
      "IsDisabled": false,
      "Storage": {
        "RetentionPolicy": {
          "Type": "RestorePoints",
          "Quantity": 7
        },
        "AdvancedSettings": {
          "BackupModeType": "Incremental",
          "StorageData": {
            "CompressionLevel": "Optimal",
            "StorageOptimization": "LocalTarget",
            "EnableInlineDataDedup": true,
            "Encryption": {
              "IsEnabled": false
            }
          },
          "Notifications": {
            "SendSnmpNotifications": false,
            "EmailNotifications": {
              "IsEnabled": false
            }
          },
          "VSphere": {
            "EnableVmwareToolsQuiescence": false,
            "ChangedBlockTracking": {
              "IsEnabled": true,
              "EnableCbtautomatically": true,
              "ResetCbtonActiveFull": true
            }
          },
          "StorageIntegration": {
            "IsEnabled": true
          }
        }
      },
      "Exclusions": [
        "gitlab",
        "misc"
      ]
    }
  },
  "Monitors": {
    "SobrPerformanceTier": {
      "GbWarningUsage": 70,
      "GbCriticalUsage": 90
    },
    "SobrCapacityTier": {
      "GbWarningLevel": 10,
      "GbCriticalLevel": 15
    }
  },
  "Alerts": {
    "TeamsEnabled": true,
    "TeamsWebHookUri": "",
    "xMattersEnabled": false,
    "xMattersBase": "/api/....",
    "xMattersHookPath": "https://yours.xmatters.com",
    "xMattersRecipients": "ben"
  }
}
